<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
</head>
<body>
    <h1>Battle</h1>
    
    <div id="character-status">
        <p>Character Level: <%= character.level %></p>
        <p>Experience: <%= character.exp %></p>
        <p>HP: <%= character.minHitPoints %></p>
    </div>
    
    <% if (monster) { %>
        <div id="monster-status">
            <p>Monster Name: <%= monster.name %></p>
            <p>Monster HP: <%= monster.hitPoints %></p>
            <p>Monster Strength: <%= monster.strength %></p>
            <p>Monster Defense: <%= monster.defense %></p>
        </div>
    <% } %>
    
    <form action="/battle/attack" method="POST">
        <input type="hidden" name="characterId" value="<%= character._id %>">
        <% if (monster) { %>
            <input type="hidden" name="monsterId" value="<%= monster._id %>">
        <% } %>
        <button type="submit">Attack</button>
    </form>
        
        <form action="/battle/heal" method="POST">
            <input type="hidden" name="characterId" value="<%= character._id %>">
            <label for="potion">Select Potion:</label>
            <select id="potion" name="potion">
                <% if (typeInventory.length > 0) { %>
                <% typeInventory.forEach(potion => { %>
                    <option value="<%= potion._id %>"><%= potion.name %> (Heal <%= potion.healingPower %> HP)</option>
                <% })} else { %>
                <option value= 'no potion'> - </option>
                <% }; %>
            </select>
            <button type="submit">Use Potion</button>
        </form>
        
        <form action="/battle/flee" method="POST">
            <input type="hidden" name="characterId" value="<%= character._id %>">
            <% if (monster) { %>
                <input type="hidden" name="monsterId" value="<%= monster._id %>">
            <% } %>
            <button type="submit">Flee</button>
        </form>
    </div>
    <div id="battle-log">
        <% battleLog.forEach(entry => { %>
            <p><%= entry %></p>
        <% }); %>
    </div>
    
</body>
</html>