<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= character.name %></title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= character.name%>'s Status</h1>

    <!-- character Details -->
    <h2>Details</h2>
    <p>Strength: <%= character.strength %></p>
    <p>Defense: <%= character.defense %></p>
    <p>HP: <%= character.maxHitPoints %>/<%= character.minHitPoints%></p>
    <p>Level: <%= character.level %></p>
    <p>Gold: <%= character.gold %></p>
    <p>Inventory: <% if (character.inventory.length > 0) { %>
        <% character.inventory.forEach((item) => { %>
            <li>
                %= item.name %> </a>
            </li>
        <% }) %>
    <% } else { %>
        <li>No item found. 
    <% } %></p>
    <p>Level: <%= character.level %></p>

    <!-- Favoriting Details -->
    <h2>Favorites</h2>
    <p>Favorited by <%= character.favoritedByUsers.length %> people.</p>
    <% if (userHasFavorited) { %>
    <p>You've favorited this character!</p>
    <form action="/characters/<%= character._id %>/favorited-by/<%= user._id %>?_method=DELETE" method="POST">
        <button type="submit">Unfavorite it</button>
    </form>
    <% } else { %>
    <p>You haven't favorited this character.</p>
    <form action="/characters/<%= character._id %>/favorited-by/<%= user._id %>" method="POST">
        <button type="submit">Favorite it!</button>
    </form>
    <% } %>

    <!-- Owner Details -->
    <h2>Owner</h2>
    <% if (character.owner._id.equals(user._id)) { %>
    <p>You own this!</p>
    <a href="/characters/<%= character._id %>/edit">Edit this character</a>
    <form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this character</button>
    </form>
    <% } else { %>
    <p>You don't own this, <%= character.owner.username %> does!</p>
    <% } %>
    
</body>
</html>